* {
    padding: 0;
    margin: 0;
}

body {
    color: #000;
    font-family: "Ubuntu", sans-serif;
    font-size: 10px;
    line-height: 1.6;
    display: flex;
}

/* SECTIONS */

#left-section {
    border-right: 1px solid #000;
    width: 320px;
    padding-right: 5px;
}

#right-section {
    padding-left: 15px;
}

#contact-section {
    margin-top: 15px;
}

/* TITLES */

h1 {
    font-size: 24px;
}

h1 + p {
    font-size: 14px;
}

h2 {
    font-size: 16px;
}

section + section > h2 {
    margin-top: 12px;
}

h3 {
    font-size: 12px;
    margin-top: 5px;
}

h2 + hgroup > h3 {
    margin-top: 3px;
}

h4 {
    font-size: 11px;
    margin: 3px 0;
}

/* LISTS */

dt {
    font-weight: 700;
}

dt:after {
    content: ' : ';
}

ul {
    margin-left: 7px;
}
