:root {
    --main-bg-color: #f5f5f6;
    --secondary-bg-color: #fff;
    --main-text-color: #11174c;
    --main-accent-color: #7B14FD;
    --secondary-accent-color: #EBDCFF;
    --accent-soft-color: #F0F0F0;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand.ttf");
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Quicksand, Ubuntu, monospace;
    font-size: 1.8rem;
    line-height: 1.6;
}

/* Skip link */
.skip-link {
    display: inline-block;
    position: absolute;
    z-index: 2;
    padding: 0.5rem;
    top: 1rem;
    left: -20rem;
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
    font-weight: 700;
    text-decoration: none;
}

.skip-link:focus {
    left: 1rem;
}

/* Containers, flexbox and grid */

.site-container {
    display: flex;
    min-height: 100vh;
    flex-flow: column;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 110rem;
    margin: auto;
    padding: 1rem;
}

img {
    max-width: 80rem;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.flex-row, .flex-row-center, .flex-row-space-between, .flex-column {
    display: flex;
    gap: 1rem;
}

.flex-row-center {
    justify-content: center;
}

.flex-row-space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

/* Links */

main a, .skip-link a {
    color: var(--main-accent-color);
    font-weight: 700;
}

main a:hover {
    text-decoration: none;
}

.action-link {
    padding: 2rem 0;
}

.action-link a {
    background-color: var(--accent-soft-color);
    color: var(--main-text-color);
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    text-decoration: none;
    font-weight: 700;
    border: 2px solid transparent;
}

.action-link a:hover {
    border: 2px solid var(--main-text-color);
}

.action-link.accent a {
    background-color: var(--secondary-accent-color);
    color: var(--main-accent-color);
}

.action-link.accent a:hover {
    border: 2px solid var(--main-accent-color);
}

/* Titles */

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.6rem;
}

/* Paragraphs */

p {
    padding: 1.4rem 0 1rem 0;
}

/* Header */

/* Nav */

.nav-bar {
    width: 100%;
}

@media screen and (min-width: 576px) {
    .nav-bar {
        display: flex;
        justify-content: space-between;
    }
}

.nav-bar a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 700;
}

.nav-bar a:hover {
    opacity: 0.6
}

.nav-bar__site-title {
    font-size: 2rem;
    line-height: 4rem;
}

nav ul {
    display: flex;
    gap: 3rem;
    background-color: var(--secondary-bg-color);
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
}

/* Main */

main {
    padding: 4rem 0 2rem 0;
}

/* Home content */

.home-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/* Hero */

.hero {
    display: flex;
    gap: 4rem;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .hero {
        flex-wrap: wrap;
    }
}

.hero h1 {
    color: var(--main-text-color);
    line-height: 1.2;
}

.hero h1 + p {
    font-size: 2.4rem;
    opacity: 0.6;
}

.hero ul {
    display: flex;
    gap: 2rem;
}

.hero li {
    list-style: none;
}

.hero i {
    font-size: 2.5rem;
}

.hero .social-links a {
    color: var(--main-text-color);
    opacity: 0.6;
}

.hero .social-links a:hover {
    opacity: 1;
}

.hero img {
   max-width: 15rem;
   width: 100%;
   align-self: start;
}

/* Highlights */
.highlights > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (min-width: 576px) {
    .highlights > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .highlights > div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}

.highlights a {
    color: var(--main-text-color);
    text-decoration: none;
    border: 2px var(--main-bg-color) solid;
    border-radius: 0.75rem;
    font-weight: 400;
}

.highlights a:hover {
    border: 2px var(--main-accent-color) solid;
    border-radius: 0.9rem;
}

.highlights .item {
    height: 35rem;
    display: flex;
    flex-direction: column;
    height: 35rem;
}

.highlights .item > div {
    height: 25rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    background-position: center;
    background-size: cover;
}

.highlights .item > div + div {
    background-color: var(--secondary-bg-color);
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    padding: 1.5rem;
    height: 10rem;
}

.highlights .item > div + div {
    background-color: var(--secondary-bg-color);
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    padding: 1rem;
    height: 10rem;
}

.highlights p {
    padding: 0.25rem 0;
    font-size: 1.6rem;
}

/* Projects */
.projects > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (min-width: 992px) {
    .projects > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

.projects .item {
    background-color: var(--secondary-bg-color);
    border-radius: 0.75rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    height: 50rem;
    display: block;
    color: var(--main-text-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects .item:hover {
    font-weight: 400;
}

.projects .item > div h3, .projects .item > div p {
    padding: 0;
}

.projects .item > div p {
    font-size: 1.6rem;
}

.projects .item > div + div {
    height: 40rem;
    background-position: center;
    background-size: cover;
}

/* Social CTA */
.social-CTA {
    background: rgb(255,238,209);
    background: linear-gradient(117deg, rgba(255,238,209,0.9205883036808473) 0%, rgba(123,20,253,0.27072835970325626) 100%);
    border-radius: 0.75rem;
    padding: 2rem;
    text-align: center;
}

.social-CTA ul {
    max-width: 80rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .social-CTA ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

.social-CTA li {
    list-style: none;
    font-weight: 500;
}

.social-CTA i {
    opacity: 0.8;
    font-size: 2.4rem;
}

.social-CTA a {
    color: var(--primary-text-color);
    opacity: 0.8;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
}

/* Posts */

.posts > div a {
    background-color: var(--secondary-bg-color);
    border-radius: 0.75rem;
    padding: 2rem;
    color: var(--main-text-color);
    text-decoration: none;
    border: 2px var(--main-bg-color) solid;
}

.posts > div a:hover {
    border: 2px var(--main-accent-color) solid;
}

.posts h3 {
    color: var(--main-accent-color);
}

.posts h3 span {
    color: var(--main-text-color);
    opacity: 0.8;
    font-weight: 400;
}

.posts h3 span + span {
    font-size: 1.6rem;
    align-self: center;
}

/* Footer */

footer {
    padding: 1rem 0 1rem 0;
    font-size: 1.6rem;
}

footer ul li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 700;
    transition: all 0.3s;
}

footer a:hover {
    opacity: 0.8;
}

footer .copyright {
    text-align: center;
}

/* Content */

.content-section__content {
    padding: 4rem 0 2rem 0;
}

/* Content titles */

.content-section h1, .content-section hgroup {
    text-align: center;
}

.content-section h2 {
    font-size: 3.6rem;
    padding-top: 3.5rem;
}

.content-section h3 {
    font-size: 2.8rem;
    padding-top: 2rem;
}

.content-section h4 {
    font-size: 2.5rem;
    padding-top: 2rem;
}

.content-section h5 {
    font-size: 2.2rem;
    padding-top: 2rem;
}

.content-section h6 {
    font-size: 2rem;
    padding-top: 1.8rem;
}

/* Lists */

.content-section ul {
    padding: 1rem 0 1.5rem 3rem;
}