{% extends "base.html" %}

{% set config = config_data %}
{% set position = position %}

{% set page_title = data.title %}

{% block content %}

<div class="home-content">

    <div class="hero flex-row-center">
        <div class="hero__img">
            <div></div>
            <img src="./assets/images/{{ data.hero.image }}" alt=""/>
        </div>
        <div>
            <hgroup class="flex-column">
            <h1>{{ data.hero.title1 }}<br>
                {{ data.hero.title2 }}
            </h1>
            <p>{{ data.hero.subtitle }}</p>
            </hgroup>
            <ul>
                {% for item in config_data.socialLinks %}
                <li>
                    <a href="{{ item.link }}" title="{{ item.type }} - {{ config.labels.newWindow }}">
                        <i class="bi bi-{{ item.type }}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <section class="resume">
        <div class="container-sm">
            {{ data.content }}
        </div>
    </section>

    {% if config.actions|length %}
    <section class="actions flex-row-center">
        {% for action in config.actions %}
        <a href="{{ action.link }}" title="{{ action.title }}" class="flex-column">
            {% if action.icon %}
            <div class="actions__action-icon">
                <i class="bi bi-{{ action.icon }}" aria-hidden="true"></i>
            </div>
            {% endif %}
            <h2>{{ action.title }}</h2>
            <p>{{ action.text }}</p>
        </a>
        {% endfor %}
    </section>
    {% endif %}

    {% if posts|length %}
    <section class="posts flex-column">
        <h2>{{ config.labels.postsTitle }}</h2>
            {% for post in posts %}
            <article class="flex-row">
                <i class="bi bi-asterisk" aria-hidden="true"></i>
                <div class="flex-column">
                    <h3 class="flex-row">
                        <a href="posts/{{ post.slug }}.html" class="flex-column">
                        {{ post.title }}
                        </a>
                        <span>{{ post.date }}</span>
                    </h3>
                    <p>{{ post.summary }}</p>
                </div>
            </article>
            {% endfor %}
    </section>
    {% endif %}
</div>

{% endblock %}